/* CUSTOM PROPS */
:root {
    --width-nav-bar: 50px;
    --width-nav-bar-max: 200px;
}


/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;

}


li {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

/* UTILS */

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.debug {
    /* min-height: 80px;
    background-color: #888;
    padding: 2rem; */
    border: 1px dashed red;
}

.col {
    width: 100%;
    display: flex;
    padding: 10px;

}

/* .col-1-2 { 
    width: 50%;
}*/

.col-1-3 {
    width: calc(100% / 3);
}


/* MAIN */
main {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
}

/* NAV_BAR */

#nav-bar {
    width: 50px;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

}

#nav-bar :last-child {
    margin-top: auto;
}

.logo-xl {
    display: none;
}

.logo-small,
.home,
.lente,
.libreria {
    width: 50%;
    padding: 5px;
    color: #ffffff;
    margin: 5px 15px;
}

.border-home:hover {
    border-left: 3px solid lime;

}

.bar-title {
    display: none;
    color: white;
    color: grey;
    font-size: 8px;
}

#playlist {
    display: none;
    padding: 20px 10px 10px 10px;
    display: none;
    color: grey;
    line-height: 30px;
}

h3 {
    display: none;
    color: white;

}

.btn-cont {
    display: flex;
}

.btn-add-list {

    width: 40px;
    height: 40px;
    background-color: #888;
    margin-left: 0px;
    border-radius: 10px;

}

.plus {
    text-align: center;
    font-size: 30px;
    color: black;

}


.arrow {
    width: 40%;
    color: grey;
    padding-bottom: 30px;
    margin-left: 15px;
    display: flex;
}

.border-bott-arrow {
    border: 1px solid grey;
    width: 80%;
    margin-left: 20px;
}

.profilo {
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-left: 15px;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid white;

}

.profilo-radius {
    display: none;

}

span {
    color: white;
    display: none;
}

/* MAIN CONTENT */



#main-content {
    width: calc(100% - var(--width-nav-bar));
    height: 100%;
    background-color: #141922;
    overflow: scroll;

}

#main-top {
    height: 100px;
    width: 100%;
    background-color: #080b12;
    display: flex;
    justify-content: end;
}

#main-top-link {
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px 40px;
    margin: 20px;
    display: flex;


}

.main-center-link {
    min-height: 30px;
    color: #7c7e83;
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    padding: 10px;

}

.link-top {
    margin: 0 15px;
}

.link-border:hover {
    border-bottom: 3px solid lime;
    /* width: 50px;
    display: flex;
    justify-content: center; */
}



.main-center-card {
    padding: 0 10px;
}

h2 {
    color: white;

}

.row {
    display: flex;
    flex-wrap: wrap;


}

.card {
    padding: 5px;
    display: flex;
    background-size: cover;
}

.copertina {
    width: 100%;
    position: relative;

}

.card-title {
    text-align: center;
    font-size: 10px;
    padding-top: 15px;

}

.subtitle-card {
    color: grey;
    padding-top: 10px;
}

.play-hover {
    display: none;

}

.copertina:hover>.play-hover {
    content: '';
    display: flex;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.513);
    position: absolute;
    cursor: pointer;
    /* top: 50%; */
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    align-items: center;





}

.grey {
    color: grey;
}

.radius {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;


}

/* FOOTER */

footer {
    height: 80px;
    background-color: #282828;
    width: 100%;
    display: flex;
    position: fixed;

}

.left-foot {
    padding: 5px;
    width: 20%;
    height: 80px;
    margin: 0;
}

.foot-col-60 {
    width: 60%;
}

.foot-col-40 {
    width: 40%;
}

.card-foot {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    display: flex;


}

.row-foot {
    display: flex;
}

.foot-sub {
    padding: 5px;
}

.foot-album-title {
    color: white;
    font-size: 18px;
}

.foot-sub-album {
    color: #7c7e83;
    font-size: 10px;
}

.foot-like {
    color: #7c7e83;
    padding: 5px;
    font-size: 15px;
}

.main-center-foot {
    width: 60%;
    height: 80px;

}

.main-center-ftop {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.shuffle,
.song-back,
.song-play,
.song-forw,
.repeat {
    margin: 0 10px;
}


.song-play {
    font-size: 30px;
}

.main-center-foot {
    width: 60%;
    height: 80px;
}

.main-center-fbot {
    color: white;
    display: flex;
    justify-content: center;

}

.progress-bar {
    height: 5px;
    width: 600px;
    border-radius: 10px;
    margin: 5px 20px 20px;
    background-color: grey;
    position: relative;
}

.bar-30 {
    width: 30%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

/* AFTER FOOTER */

.progress-bar:hover>.bar-30::after {
    content: '';
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.progress-volume:hover>.bar-30::after {
    content: '';
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* HOVER FOOTER */

.progress-bar:hover>.bar-30 {
    background-color: lime;
    cursor: pointer;
}

.progress-volume:hover>.bar-30 {
    background-color: lime;
    cursor: pointer;
}

/* fine Hover */

.row-foot {
    display: flex;

}

.media-foot {
    display: flex;
    padding: 10px;
    color: white;
    margin: 10px;
}

.list,
.dispositivo,
.volume {
    margin: 5px;
}

.progress-volume {
    height: 5px;
    width: 100px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: grey;
    position: relative;
}


/* media query */
@media screen and(min-width:480px) {}

@media screen and (min-width:640px) {
    #nav-bar {
        width: var(--width-nav-bar-max);
        padding: 10px;
    }

    .logo-small {
        display: none;
    }

    .logo-xl {
        width: 50%;
        display: block;
        margin: 10px;
    }

    .home,
    .lente,
    .libreria {
        width: 15%;
        padding: 0;
        color: #ffffff;
        display: flex;
        margin-left: 10px;

    }



    .bar-title {
        display: inline;
    }

    #playlist {
        display: block;
    }

    h3 {
        display: block;
    }

    .plus-container {
        display: block;
    }

    span {
        display: block;
    }

    .user-profile {
        display: flex;
        /* align-content: start; */
    }


    .arrow {
        width: 25px;
        color: #ffffff;
        margin-left: 10px;
        padding-bottom: 20px;
        display: flex;
    }

    .profilo {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        display: flex;

    }

    /* Profili radius */

    .radius {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
        overflow: hidden;

    }


}


@media screen and (min-width:768px) {

    /**/
    .col {
        width: calc(100% / 6);


    }



    .John {
        display: flex;
        text-align: left;
    }





    .logo-xl {
        display: block;
    }

    /* Profili radius */

    .radius {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        object-fit: cover;
        overflow: hidden;

    }
}

@media screen and (min-width:1200px) {
    /* Profili radius */

    .radius {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        object-fit: cover;
        overflow: hidden;

    }

}